body {
	min-width: 960px;
	font-size: 17px;
	line-height: 17px;
	color: #000000;
	font-family: "Cuprum", "Arial", sans-serif;
	font-weight: regular;
}

.container {
	width: 940px;
	/*box-sizing: border-box;	*/
	padding-right: 10px;
	padding-left: 10px;
	margin: 0 auto;
}

.clearfix:after {
	content: "";
	display: table;
	clear:both;
}


.main-header {
	/*overflow: hidden;*/
	background-color: #293449;
	height:42px;
}


/* va не работает без lh*/
.main-header-item {
	vertical-align: middle;
	display: inline-block;
}

.header-logo {
	float: left;
	text-align:center;
	width:220px;
	height: 42px;
	line-height: 42px;
	background-image: url("../img/header-logo-button.jpg");
}

.header-logo a {
	text-transform: uppercase;
	background-color: #ff5357;
	height: 42px;
	border-bottom: 5px solid #c23f42; 
	width:220px;
	/*height: 47px;*/
	display: inline-block;
	text-align:center;
	font-size: 24px;
	line-height: 42px;
	color: #ffffff;
	font-family: Cuprum;
	text-decoration: none;
}

.header-logo a:hover {
	background-color: #ca2c37;
	border-bottom: 5px solid #9a212a;
}

.header-logo a:active {
	background-color: #ba2732;
	border-bottom: 5px solid #8e1e26;
}

.header-pagination {
	text-indent: 15px;
	text-decoration: none;
	color: #ffffff;

}

.header-search {
	width: 250px;
	vertical-align: top;
	line-height: 42px;
	/*margin-left:17px;*/
	float:left;
	display: inline-block;
	position: relative;
}

/* НАЧАЛО ФОРМЫ*/

.header-search input[type="search"] {
    height: 42px;
    width: 270px;
    margin: 0;
    padding: 0;
    padding-left: 48px;
    box-sizing: border-box;
    font-family: "Cuprum", sans-serif;
    font-size: 17px;
    line-height: 18px;
    background-color: #293449;
    border-width: 0;
    outline: none;
}

.header-search ::-webkit-input-placeholder {
	font-family: "Cuprum", sans-serif;
	font-size: 17px;
	line-height: 18px;
	color:#fff;
}

.header-search  :-ms-input-placeholder      { color:#fff; }
/*
:focus::-webkit-input-placeholder { color: transparent; }
:focus:-ms-input-placeholder      { color: transparent; }*/

.header-search label {
  display: block;
  width: 17px;
  height: 17px;
  background: url(../img/header-search-icon.png);
    position: absolute;
    top: 28%;
    left: 14px;
    font-size: 17px;
    line-height: 18px;
    opacity: 0.3;
}


.header-search input[type="search"]:hover { 
	background-color: #212a3a;
}

.header-search input[type="search"]:hover + label{ 
	opacity: 1;
}

.header-search input[type="search"]:focus { 
	background-color: #fff;
}

.header-search input[type="search"]:focus + label { 
	background: url("../img/header-search-icon-active.png");
}

/*КОНЕЦ ФОРМЫ*/


.header-right {
	margin:0;
	padding: 0;
	height:42px;
	text-align:right;
	width: 450px;
	float:right;
}

.header-right ul {
	font-size: 0;
	width: 450px;
	padding: 0;
	line-height: 42px;
	margin:0;
}

.header-right li {
	font-size: 17px;
	text-align: right;
	margin: 0;
	margin-right: 0px;
	padding: 0px;
	width:150px;
	display: inline-block;
}

.header-bookmarks {
	/*text-indent: 15px;*/
    font-size: 17px;
    font-family: "Cuprum";
    color: white;
	position: relative;
	box-sizing: border-box;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.header-bookmarks:hover {
	background-color: #212a3a;
}

.header-bookmarks:active {
	background-color: #161d29;
}

.header-bookmarks::after {
	position:absolute;
	content: "";
	width: 14px;
	height: 16px;
	top:12px;
	left:15px;
	opacity: 0.3;
	background-image: url("../img/header-bookmark-icon.png");
}

.header-basket {
	color: white;
	position: relative;
	box-sizing: border-box;
    /*margin-left: 15px;*/
    display: inline-block;
    text-align: center;
    width: 100%;
}

.header-basket:hover {
	background-color: #212a3a;
}

.header-basket:active {
	background-color: #161d29;
}

.header-basket::after {
	position:absolute;
	content: "";
	width: 17px;
	height: 16px;
	top:12px;
	left:15px;
	opacity: 0.3;
	background-image: url("../img/header-basket-icon.png");
}

.catalog-page .header-basket.active-basket {
	text-indent: 25px;
	color: white;
	position: relative;
	box-sizing: border-box;
    margin-right: 15px;
    background-color: #ee3643;
}

.header-basket.active-basket:hover {
	background-color: #212a3a;
}

.header-basket.active-basket:active {
	background-color: #161d29;
}

.header-checkout {
	padding: 0;
	background-color: #6db254;
	height: 42px;
	width:150px;
	display: inline-block;
	text-align:center;
	font-size: 17px;
	line-height: 42px;
	color: #ffffff;
	font-family: Cuprum;
	font-weight: regular;
}

.header-checkout:hover {
	background-color: #5fbb2d;
}

.header-checkout:active {
	background-color: #518534;
}

.title-section {
	background-color: #f2f6f8;
	min-height: 278px;
}

.title-section-top {
	min-height: 120px;
}

.title-text {
	font-family: 'Cuprum', sans-serif;
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    margin-top: 41px;
    margin-left: 50px;
    padding: 0;
    height: 76px;
    float: left;
    width: 197px;
}

.title-text p {
	margin-top:8px;
	font-size: 16px;
	font-style:italic;
	color:red;
}

.title-contacts {
	text-align: center;
	margin-left: 75px;
	margin-top:45px;
	/*padding-top: 20px;*/
	float:left;
	width: 300px;
	height: 70px;
}

.title-number {
	width: 260px;
	display: block;
	height: 40px;
	line-height: 40px;
	border: 3px solid white;
}

.title-number p {
	text-indent: 20px;
	padding-left: 1px;
	position: relative;
	font-family: 'Cuprum', sans-serif;
	font-size: 21px;
	color: red;
	vertical-align: middle;
	margin:0;
}

.title-number p:before {
	position: absolute;
	content: "";
	width: 19px;
	height: 19px;
	left: 10px;
	top: 10px;
	background-image: url("../img/icon-phone.png");
}


.title-adress p {
	text-indent: 8px;
    text-align: left;
	margin: 0;
	margin-top: 7px;
    margin-right: 7px;
	font-family: 'Cuprum', sans-serif;
	font-size: 14px;
	color: #3d546e;
}

.title-user-buttons {
	float:right;
	margin-top:34px;
	width: 300px;
	text-align: center;

}

.login-button {
	position: relative;
	width:106px;
	height: 45px;
	display: inline-block;
	margin-top: 11px;
	margin-right: 0;
    margin-left: 16px;
	background-color: white;
	line-height: 45px;
	color:black;
	text-decoration: none;
}

.login-button span {
	padding: 0;
	position: relative;
	margin:0;
	margin-left: 22px;
}

.login-button:before {
	position: absolute;
	content: "";
	width: 21px;
	height: 17px;
	top:14px;
	right: 86px;
	background-image: url("../img/title-icon-login.png");
}

.title-button:hover {
	color:#ee3643;
}

.title-button:hover:before {
	position: absolute;
	content: "";
	width: 21px;
	height: 17px;
	top:14px;
	right: 86px;
	z-index: 50000;
	background-image: url("../img/title-icon-login-hover.png");
}

.title-button a:active {
	color:#cacaca;
}

.title-button:active:before {
	position: absolute;
	content: "";
	width: 21px;
	height: 17px;
	top:14px;
	right: 80px;
	z-index: 50000;
	background-image: url("../img/title-icon-login-hover.png");
	opacity: 0.3;
}

.registration-button {
	text-decoration: none;
	color:black;
	width:133px;
	height: 45px;
	display: inline-block;
	margin-top: 11px;
	margin-right: 0;
	margin-left: 8px;
	background-color: white;
	line-height: 45px;
}

.title-button {
	padding: 0px 8px;
    font-size: 21px;
}

.title-button a {
	vertical-align: middle;
	margin: 0;
	text-align: center;
}


.title-user-section {
	float:right;
	margin-top: 45px;
	width:300px;
	height:76px;
	position: relative;
}


.title-user-section:before {
	position:absolute;
	content: "";
	top:61px;
	right:187px;
	width:4px;
	height: 4px;
	z-index: 60;
	border-radius: 100px;
	background: #32425c;
}

.user-name-line {
	text-align: center;
	background-color: white;
}

.title-user-section .user-name {
	font-family: "Cuprum", sans-serif;
    font-size: 21px;
    text-decoration: none;
    background-color: white;
    position: relative;
    height: 45px;
    text-align: left;
    width: 200px;
    padding-top: 15px;
}

.title-user-section a {
	display: inline-block;
	box-sizing: border-box;
/*	padding-top: 10px;
	padding-left: 21px;*/
	font-size: 16px;
	/*margin-right: 5px;*/
	font-family: "Cuprum", sans-serif;
	color: #32425c;
}

.title-user-section .user-name:active {
	color:#c5c5c5;
}


.title-user-section .icon-logout {
	vertical-align: middle;
	display: inline-block;
	z-index: 3;
	content: "";
	width:45px;
	height: 30px;
	background: url("../img/title-icon-logout.png") 15px 4px no-repeat;
}

.title-user-section .icon-user {
	display: inline-block;
	z-index: 3;
	vertical-align: middle;
	content: "";
	width:45px;
	height: 30px;
	background: url("../img/title-icon-user.png") 15px 4px no-repeat;
}



.title-user-section .icon-user:hover {
	background-image: url("../img/title-icon-user-active.png");
}

.title-user-section .icon-logout:hover {
	background-image: url("../img/title-icon-logout-active.png") ;
}


.title-user-section .icon-logout:active {
	background-image: url("../img/title-icon-logout.png");
}

.title-user-section .icon-user:active {
	background-image: url("../img/title-icon-user.png");
}

.title-user-basket {
	margin-top: 10px;
    margin-left: 23px;
}

.title-user-personal-account {
	margin-top: 10px;
    margin-left: 23px;
}


.title-user-basket:hover {
	color: #ee3643;
}

.title-user-personal-account:hover {
	color: #ee3643;
}

.title-user-basket:active {
	color: #32425c;
	opacity: 0.3;
}

.title-user-personal-account:active {
	color: #32425c;
	opacity: 0.3;
}


/*как сделать отступ*/
.main-nav {
	text-align: center;
	clear:both;
	margin-top: 38px;
	width: 940px;
	min-height:61px;
	background-color: #32425c;
	line-height: 58px;
}

.main-nav ul{
	padding: 0;
	/*word-spacing: 60px;*/
	margin: 0;
}

.main-nav li {

	vertical-align: middle;
	color:white;
	display: inline-block;

}

.main-nav a {
	padding-left: 26px;
	padding-right: 31px;
	text-decoration: none;
	/*margin-right: 58px*/
	width: 100%:;
	color:white;
	display: inline-block;
	height: 60px;
}

.main-nav a:hover {
	background-color: #293449;
}

.main-nav a:active {
	background-color: #293449;
	opacity: 0.5;
}

.breadcrumbs {
	min-height:60px;
}

.breadcrumbs a {
    font-family: "PT Sans";
    font-size: 13px;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
 	display: inline-block;
	margin-top: 22px;
	margin-right: 37px;
	position: relative;
}

.breadcrumbs-arrow:after {
	position: absolute;
	background-image: url("../img/breadcrumbs-icon-arrow.png");
	width: 8px;
	height: 12px;
	content: "";
	top:0px;
	left:-25px;
}

.catalog-item-type p {
	line-height: 30px;
    font-size: 30px;
    font-family: "Cuprum";
    color: 32425c;
    text-transform: uppercase;
 	padding: 0;
	margin:0;
}

.catalog-item-type {
	box-sizing: border-box;
	background-color: #f2f6f8;
	min-height: 90px;
	padding-left: 28px;
	padding-top: 30px;
}

.price-filter {
	height: 205px;
	width: 220px;
	display: inline-block;
	border-bottom:1px solid #e5e5e5;
	text-transform: uppercase;
	position: relative;
}

.price-filter:after {
	position: absolute;
	width: 10px;
	box-sizing: border-box;
	height: 2px;
	content: "";
	top:160px;
	left:105px;
	background-color: black;
}

.price-filter-title {
	font-weight: bold;
	margin-top: 17px;
	margin-bottom: 17px;
}

.price-filter .min-price {
	margin-right: 26px;
}

.price-filter label {
	width: 93px;
	height: 38px;
	display: inline-block;
}
.price-filter input {
	width: 97px;
	height: 38px;
	display: inline-block;
	color: inherit;
  	font: inherit;
  	text-align: center;
  	background: #f7f3ec;
 	border: none;
}

.range-controls {
	background: #f7f3ec;
	height: 80px;
  position: relative;
  margin-bottom: 9px;
}

.range-controls .scale {
    padding-bottom: 40px;
    margin-left: 30px;
    height: 2px;
    border-bottom: 2px solid #d7dcde;
    width: 170px;
}

.range-controls .bar {
    width: 80%;
    height: 2px;
    padding-bottom: 40px;
    border-bottom: 2px solid #00ca74;
    /* background: #ffffff; */
}

.range-toggle {
  	position: absolute;
    top: 32px;
    left: 20px;
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle-min {
  left: 20px;
}

.range-toggle-max {
  left: 70%;
}

.range-toggle:hover {
  background: #1c4f80;
}



.filter-list {
	float:left;
	min-height: 750px;
	width: 220px;
	margin-right: 20px;
}

.filter-list-title {
	box-sizing: border-box;
	text-transform: uppercase;
    font-size: 13px;
    font-family: "PT Sans";
	height: 38px;
	margin-top: 20px;
	padding-left: 19px;
	padding-top: 10px;
	background-color: #f7f3ec;
}

.filter-list p {
    margin: 0;
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 17px;
    font-family: "PT Sans";
    color: rgb(0, 0, 0);
    /* font-weight: bold; */
    text-transform: uppercase;
} 

.filter-brand-title {
	font-weight: bold;
}


.filter-brand p {
    position: relative;
    font-size: 15px;
    margin-left: 35px;
    line-height: 15px;
}

.filter-brand input {
	margin-right: 9px;
}

.filter-brand input[type="checkbox"] {
	display: none;
}


.filter-brand input[type="checkbox"] + .checkbox-indicator {
	position: absolute;
    top: -5px;
    left: -34px;
    width: 23px;
    height: 23px;
    /*border: 2px solid #000000;*/
    background: url("../img/check-border.png");

}

.filter-brand input[type="checkbox"]:checked + .checkbox-indicator::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 27px;
  height: 23px;
  background-image: url("../img/check-on.png");
}


.filter-type input[type="radio"] {
	display: none;
}


.filter-type input[type="radio"] + .checkbox-indicator {
	position: absolute;
    top: -6px;
    left: -34px;
    width: 25px;
    height: 25px;
    /*border: 2px solid #000000;*/
    background: url("../img/radio-circle.png");

}

.filter-type input[type="radio"]:checked + .checkbox-indicator::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-on.png");
}

.filter-button button {
	display: block;
	width: 140px;
	height: 37px;
	border: 1px solid #e5e5e5;
	background: none;
	color: black;
	text-transform: uppercase;
	font-family: "PT Sans", sans-serif;
	font-size: 13px;
	line-height: 18px;
}


.filter-brand {
	margin-bottom: 26px;
	border-bottom:1px solid #e5e5e5;
}

.filter-type p {
    position: relative;
    margin-left: 35px;
    font-size: 14px;
    line-height: 13px;
}

.filter-type input {
	margin-right: 9px;
}

.filter-type {
	margin-bottom: 85px;
}

.catalog-content-page {
    width: 700px;
    display: inline-block;
}

.catalog-sorting-title {
	line-height: 13px;
	display: inline-block;
	width: 700px;
	height: 38px;
	background-color: #f7f3ec;
	margin-top: 20px;
}

.catalog-sorting-title a {
	display: inline-block;
	margin-right: 65px;
	text-transform: uppercase;
	text-decoration: none;
  color:black;
  font-size: 13px;
  font-family: "PT Sans";
  opacity: 0.3;
}


.catalog-sorting-title p {
	margin: 0;
	margin-right: 138px;
	padding-left: 19px;
    padding-top: 10px;
	display: inline-block;	
	box-sizing: border-box;
	text-transform: uppercase;
    font-size: 13px;
    font-family: "PT Sans";
}

.catalog-sorting .catalog-sorting-title .catalog-active-sorting {
	border: none;
	color:red;
	opacity: 1;
}

.catalog-sorting-title .catalog-sorting-by-price {
	border-bottom: 1px dashed red;
}

.catalog-sorting-title .catalog-sorting-by-type {
	border-bottom: 1px dashed red;
}


.catalog-sorting-title .catalog-sorting-by-functional {
	border-bottom: 1px dashed red;
	margin-right: 40px;
}

.catalog-sorting-button:hover {
	border-bottom: 1px solid red;
	opacity: 1;
}

.catalog-sorting-button:active {
	border: none;
	color:#ee3643;
	opacity: 1;
}


.catalog-sorting-title .catalog-title-button {
	opacity: 1;
	margin-right:14px;
	width: 11px;
	height: 11px;
	display: inline-block;
}

.catalog-pagination a {
    color: black;
    text-decoration: none;
    min-width: 38px;
    height: 38px;
    border: 2px solid #f7f3ec;
    border-radius: 3px;
    display: inline-block;
    font-size: 12px;
    font-size: 13px;
    font-family: "PT Sans";
    text-transform: uppercase;
    text-align: center;
    box-sizing: border-box;
    padding-top: 9px;
    padding-left: 13px;
    padding-right: 13px;
    margin-top: 30px;
    margin-bottom: 58px;
    margin-right: 11px;
}

.catalog-pagination .pagination-next {
	padding: 9px 30px;
}

.catalog-pagination a:hover {
	border:2px solid #bdc6ca;
}

.catalog-pagination a:active {
	border:2px solid #ee3643;
}

.catalog-pagination .pagination-active {
	background-color: #ee3643;
	color: white;
}


.feature-blocks-section {
	min-height: 520px;
}

.feature-block {
	margin-top: 20px;
	min-height: 123px;
	width:300px;
}

.feature-block p {
	margin:0;
	margin-top:26px;
	margin-left: 25px;
	font-family: 'Cuprum', sans-serif;
	font-size: 24px;
	font-weight: bold;
	color:white;
}

.feature-block a {
	text-transform: uppercase;
	font-size: 14px;
	text-decoration: none;
	color: white;
	display:inline-block;
	box-sizing: border-box;
	margin-top: 20px;
    margin-left: 24px;;
	padding-top:10px; 
	background-color: rgba(0,0,0,0.1);
	border-radius: 3px;
	vertical-align: middle;
	text-align: center;
	min-height: 37px;
	width: 135px;
}

.feature-block a:hover {
	background-color: rgba(0,0,0,0.2);
}

.feature-block a:active {
	background-color: rgba(0,0,0,0.3);
}


.block-materials {
	margin-top: 60px;
	float: left;
	margin-right: 20px;
	background-color: #ffbf47;
	position: relative;
}

.block-materials:after {
	content: "";
	width: 44px;
	height: 65px;
	background-image: url("../img/block-materials-icon.png");
	/*background-color: white;*/
	position: absolute;
	top:50%;
	right: 70px;
	margin-top: -30px;
	margin-right: -25px;
}


.block-instruments {
	background-color: #ffbf47;
	margin-top: 60px;
	float: left;
	margin-right: 20px;
	background-color:#3bbce3;
	position: relative;
}

.block-instruments:after {
	content: "";
	min-width: 75px;
	min-height: 61px;
	background-image: url("../img/block-instruments-icon.png");
	/*background-color: white;*/
	position: absolute;
	top:50%;
	right: 65px;
	margin-top: -30px;
	margin-right: -35px;
}


.block-technics {
	background-color: #dc91d8;
	margin-top: 60px;
	float: right;
	margin-right: 0px;
	background-image: url("../img/block-section-technics.png");
	position: relative;
}

.block-technics:after {
	content: "";
	min-width: 78px;
	min-height: 62px;
	background-image: url("../img/block-technics-icon.png");
	/*background-color: white;*/
	position: absolute;
	top:50%;
	right: 70px;
	margin-top: -30px;
	margin-right: -35px;
}

.block-perforators-slider {
	margin-top: 20px;
	float:left;
	width: 620px;
	min-height: 265px;
	/*display: none;*/
	float:left;
	width: 620px;
	min-height: 265px;
	position: relative;
}

.slider-left-arrow {
	background: none;
	border: none;
	position: absolute;
	content: "";
	width:22px;
	height: 40px;
	top: 113px;
	left: 26px;
	background-image: url("../img/slider-left-arrow.png");
}

.slider-right-arrow {
	background: none;
	border: none;
	position: absolute;
	content: "";
	width:22px;
	height: 40px;
	top: 113px;
	right: 22px;
	background-image: url("../img/slider-right-arrow.png");
}

.controls-wrapper {
    position: absolute;
/*    top: 213px;
    left: 292px;*/
    bottom: 36px;
    left: 50%;
    transform: translate(-50%,0);
}

.slider-button {
	/*margin-right: 3px;
	background: none;
	border: none;
	width:10px;
	height: 10px;
	border: 2px solid #fff;
	border-radius: 50%;
	display: inline-block;
	box-sizing: content-box;
	background: url("../img/slider-dots.png") no-repeat;*/
	width: 6px;
	height: 6px;
	margin: 0 3px;
	border:2px solid #fff;
	border-radius: 50%;
	display: inline-block;
	padding: 0;
	background: #fff;
	box-sizing: content-box;
}

.slider-button-active {
	/*position: absolute;*/
	/*width:10px;*/
	background: #ee3643;
	/*height: 10px;*/
	/*top: 219px;*/
	/*left: 293px;*/
	/*content: "";*/
	/*background: url("../img/slider-active.png") no-repeat;*/
}

.block-perforators {
	margin-top: 0px;
	float:left;
	width: 620px;
	min-height: 265px;
	/*display: none;*/
	float:left;
	width: 620px;
	min-height: 265px;
	background-image: url("../img/block-perforators-slider1.jpg");
}


.block-perforators .block-perforators-header {
  font-size: 36px;
  line-height: 30px;
  font-family: "Cuprum";
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.block-perforators p.block-perforators-slogan {
	letter-spacing: 0.5px;
    margin-top: 7px;
    font-size: 18px;
    font-family: "PT Sans";
    font-weight: normal;
    color: white;
}

.block-perforators a {
	text-decoration: none;
	color: white;
	display:inline-block;
	box-sizing: border-box;
	margin-top: 125px;
    margin-left: 24px;
	padding-top:10px; 
	background-color: #ff5357;
	border-radius: 3px;
	vertical-align: middle;
	text-align: center;
	min-height: 37px;
	width: 196px;
}

.perforators-slider-1 {
	/*display: none;*/
}

.perforators-slider-2 {
	display: none;
	float:left;
	width: 620px;
	min-height: 265px;
	background-color: green;
	background-image: url("../img/block-perforators-slider2.jpg");
}

.block-perforators a:hover {
	background-color: #ca2c37;
}

.block-perforators a:active {
	background-color: #ba2732;
}

.block-discounts {
	background-color: #8ed78f;
	margin-left: 20px;
	float: left;
	background-image: url("../img/block-section-discounts.png");
	position: relative;

}

.block-discounts:after {
	content: "";
	width: 59px;
	height: 72px;
	background-image: url("../img/block-discounts-icon.png");
	/*background-color: white;*/
	position: absolute;
	top:47%;
	right: 67px;
	margin-top: -30px;
	margin-right: -20px;
}


.block-delivery {
	background-color: #ffc047;
	margin-left: 20px;
	float: left;
	background-image: url("../img/block-section-delivery.png");
	position: relative;
}

.block-delivery:after {
	content: "";
	min-width: 78px;
	min-height: 63px;
	background-image: url("../img/block-delivery-icon.png");
	/*background-color: white;*/
	position: absolute;
	top:50%;
	right: 70px;
	margin-top: -30px;
	margin-right: -35px;
}



.popular-section {
	font-size:0;
	min-height:450px;
}

.popular-items-header h2 {
	letter-spacing: -1.0px;
	display: inline-block;
	margin: 0;
	margin-top: 32px;
	margin-left: 28px;
	font-size: 30px;
	text-transform: uppercase;
	line-height: 30px;
	color: #3d546e;
	font-family: "Cuprum", sans-serif;
}

.popular-items-header {
	background-color: #f9f5f0;
	margin-bottom: 20px;
	min-height: 90px;
}

.popular-items-header-button {
	box-sizing: border-box;
	margin-right: 25px;
	margin-top: 25px;
	width:250px;
	min-height: 40px;
	float: right;
	background-color: #ff5357;
	border-radius: 5px;
	padding-top:12px;
	text-align: center;
}

.popular-items-header-button a {
	text-transform: uppercase;
	text-decoration: none;
	color:white;
	font-family: "Cuprum", sans-serif;
	font-size: 14px;
	line-height: 18px;
}

.popular-items-wrapper {
	min-height:340px;
	font-size:0;
}

.catalog-items {
	float:left;
	width: 700px;
	min-height: 1143px;
	margin-top: 20px;
	font-size:0;
}

.catalog-item {
	box-sizing: border-box;
	margin-bottom: 22px;
	font-size:12px;
	text-align:center;
	margin-right:22px;
	width:218px;
	min-height: 316px;
	display: inline-block;
	vertical-align: top;
	border: 1px solid #f1f1f1;
	position: relative;
}

.catalog-item-buy-button {
	font-family: 'Cuprum', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
	padding-top: 13px;
	box-sizing: border-box;
	width: 134px;
	height: 38px;
	display: block;
	color: white;
	box-shadow: 0 3px 3px 0 #367315;
	background-color: #63a63e;
	margin:0px auto 0 auto;
}

.catalog-item-buy-button:hover {
	background-color: #5fbb2d;
}

.catalog-item-buy-button:active {
	background-color: #518534;
}

.catalog-item-bookmarks-button {
	font-family: 'Cuprum', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
	padding-top: 10px;
	box-sizing: border-box;
	width: 134px;
	height: 38px;
	display: block;
	color: black;
	border: 3px solid #63a63e;
	border-radius: 3px;
	margin:10px auto 50px auto;
}

.catalog-item-bookmarks-button:hover {
	border: 3px solid #32425c;
}

.catalog-item-bookmarks-button:active {
	border: 3px solid #c1c6ce;
}


.catalog-item-actions {
	display: none;
	position:absolute;
    top:0;
    left:0;
    width:216px;
    height:88px;
    padding:40px 0;
    background-color:rgba(255,255,255,0.9);
    z-index:10;
}

.catalog-item:hover .catalog-item-actions {
    display:block;
}

.new-catalog-item:before {
	position: absolute;
	content: "";
	width: 60px;
	height: 59px;
	top:0;
	right: 0;
	z-index: 50;
	background-image: url("../img/new-catalog-flag.png");
}

.popular-items-wrapper .catalog-item:nth-child(4n) {
	margin-right:0px;
}

.catalog-items .catalog-item:nth-child(3n) {
	margin-right:0px;
}

.catalog-item-image-wrapper {
    line-height: 165px;
    text-indent: -16px;	
	height:180px;
}


.catalog-item img {
	vertical-align: middle;
}


.catalog-item-title {
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
	width: 190px;
	line-height: 18px;
	font-weight: bold;
	display: inline-block;

}

.catalog-item .catalog-item-old-price {
	text-indent: 5px;
	text-decoration: line-through;
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
	font-size: 17px;
	margin-top: 13px;
	margin-bottom: 10px;
	color:#999999;
}

.catalog-item-price-button {
	margin-left: 8px;
}


.catalog-item-price-button a {
	line-height: 38px;
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
	font-size: 17px;
	color: white;
	text-decoration: none;
	/*vertical-align: middle;*/
	height: 38px;
	width: 140px;
	display:inline-block;
	background-image: url("../img/popular-item-button.png");
	margin-top: 18px;
	margin-left: 45px;
	margin:0;
}

.catalog-item-title + .catalog-item-price-button {
	margin-top: 40px;
}



.popular-brands-header {
	background-color: #f9f5f0;
	text-transform: uppercase;
	margin-bottom: 20px;
	min-height: 90px;
}

.popular-brands-header h2 {
	letter-spacing: -1px;
	display: inline-block;
	margin: 0;
	margin-top: 35px;
	margin-left: 28px;
	font-size: 30px;
	/*line-height: 30px;*/
	color: #3d546e;
	/*vertical-align: middle;*/
	font-family: "Cuprum", sans-serif;
}


.popular-brands-header-button {
	box-sizing: border-box;
	margin-right: 26px;
    margin-top: 23px;
	width:250px;
	min-height: 40px;
	float: right;
	background-color: #ff5357;
	border-radius: 5px;
	padding-top:12px;
	text-align: center;
}

.popular-brands-header-button a {
	text-transform: uppercase;
	text-decoration: none;
	color:white;
	font-family: "Cuprum", sans-serif;
	font-size: 14px;
	line-height: 18px;
}





.popular-brand {
	display: inline-block;
	margin-left: 0px;
	margin-right:20px;
	margin-bottom: 20px;
	width:218px;
	text-align: center;
	vertical-align: top;
	border: 1px solid gray;
	min-height:143px;
	line-height: 128px;
}

.popular-brand:hover {
	box-shadow: 0 5px 30px 0 black;
}

.popular-brand:active {
	opacity: 0.3;
	box-shadow: 0 2px 30px 0 black;
}


/*.popular-brand:nth-child(5),
.popular-brand:nth-child(9) {
	float:right;*
}
*/
.popular-brand:nth-child(4n+1) {
	margin-right:0px;
}

.popular-brand img {
	vertical-align: middle;
}


.company-features {
	position: relative;
	margin-top: 54px;
	background-color: #f4f8fa;
	min-height: 522px;
	overflow: hidden;
}



.company-feature-description {
	font-family: "PTSans", sans-serif;
	font-size: 13px;
	line-height: 24px;

}



.company-feature-button {
	display: inline-block;
	background-color: #ff5357;
	height: 38px;
	width: 195px;
	color:white;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	box-sizing: border-box;
	padding-top: 8px;
	margin-top: 25px;
	font-size: 14px;
	font-family: "Cuprum", sans-serif;
}

.company-service-title {
	text-transform: uppercase;
	padding: 0;
	margin: 0;
	margin-bottom: 34px;
	font-family: "Cuprum", sans-serif;
	font-size: 30px;
}

.company-service-description {
	width:400px;
	font-family: "PTSans", sans-serif;
	font-size: 12px;
	line-height: 24px;
}

.company-service {
	padding-top: 70px;
	min-height: 107px;
	width: 400px;
}

.company-service-feature-list {
	display: inline-block;
	padding-top: 60px;
	width: 240px;
	font-size: 22px;
	line-height: 60px;
	min-height: 180px;
	position: relative;
}

.company-service-feature-list:before {
	position: absolute;
	content: "";
	width: 10px;
	height:272px;
	top: 10px;
	right: 0;
	background: url("../img/company-features-tab-shadow.png");
}

.company-service-feature-list ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.unactive-feature-list {
/*	color:white;
	background-color: #3d546e;
	/*padding-left: 20px;
	border-bottom: 1px solid #33435a;
	border-top: 1px solid #4d627b;
}

.active-feature-list {
/*	color: ##3d546e;
	padding-left: 20px;
	background-color: #ffffff;*/
}


.company-service-feature-list .unactive-feature-list a {
	display: inline-block;
	text-decoration: none;
	text-indent: 20px;
	width: 100%;
	height: 100%;
	color:white;
	background-color: #3d546e;
}

.company-service-feature-list .unactive-feature-list a:hover {
	display: inline-block;
	text-decoration: none;
	text-indent: 20px;
	width: 100%;
	height: 100%;
	color: white;
	background-color: #293449;
}

.company-service-feature-list .unactive-feature-list a:active {
	display: inline-block;
	text-decoration: none;
	text-indent: 20px;
	width: 100%;
	height: 100%;
	color: #32425c;
	background-color: white;
}

.company-service-feature-list .active-feature-list a {
	display: inline-block;
	text-decoration: none;
	text-indent: 20px;
	width: 100%;
	height: 100%;
	color: #3d546e;
	background-color: #ffffff;
}

.feature-delivery h3,
.feature-guarantee h3,
.feature-credit h3 {
	color:#3d546e;
	font-family: "Cuprum", sans-serif;
	font-size: 36px;
	text-transform: uppercase;
}

.feature-delivery {
	margin-top: 30px;
	vertical-align: top;
	padding-left: 74px;
	display: inline-block;
	width: 300px;
	min-height: 175px;
	/*display: none;*/
	position: relative;
	z-index: 100;
}

.feature-delivery:after {
	position: absolute;
	content: "";
	background-image: url("../img/company-features-delivery-icon.png");
	width:468px;
	height: 271px;
	left:226px;
	top:55px;
}

.feature-guarantee {
    margin-top: 30px;
	vertical-align: top;
	padding-left: 74px;
	display: inline-block;
	width: 300px;
	min-height: 175px;
	display: none;
	position: relative;
	z-index: 100;
}

.feature-guarantee:after {
	position: absolute;
	content: "";
	background-image: url("../img/company-features-guarantee-icon.png");
	width:389px;
	height: 283px;
	left:292px;
	top:39px;
}

.feature-credit {
	vertical-align: top;
	padding-left: 74px;
	display: inline-block;
	width: 300px;
	min-height: 175px;
	margin-top: 25px;
	position: relative;
	display: none;
	z-index: 100;
}

.feature-credit:after {
	position: absolute;
	content: "";
	background-image: url("../img/company-features-credit-icon.png");
	width:465px;
	height: 285px;
	left:208px;
	top:55px;
}

.feature-credit h3 {
	margin-top: 42px;
	font-size: 36px;
}


.about-company-and-contacts {
	font-size: 0px;
	padding: 0;
	min-height:536px;

}

.about-company {
	font-family: "PTSans", sans-serif;
	min-height: 400px;
	font-size: 12px;
	line-height: 24px;
	margin: 0;
	margin-top: 85px;
	padding: 0;
	width: 550px;
	display: inline-block;
}

.about-company > p {
	text-transform: uppercase;
	font-family: "Cuprum", sans-serif;
	font-size: 30px;
	margin:0;
	margin-bottom: 25px;
	padding: 0;
}

.company-contacts > p {
	text-transform: uppercase;
	font-family: "Cuprum", sans-serif;
	font-size: 30px;
	margin:0;
	margin-bottom: 33px;
	padding: 0;
}

.about-company-description p {
	font-family: "PT Sans", sans-serif;
    font-size: 13px;
    line-height: 24px;
    margin-top: 24px;
}


.about-company-list ul {
	padding-left: 35px;
	font-family: "Cuprum", sans-serif;
	font-size: 18px;
	font-weight: bold;
	list-style: none;
}

.about-company-list li {
	position: relative;
	margin-top: 17px;
}

.about-company-list li:before {
	position: absolute;
    content: "";
    top: -3px;
    left: -36px;
    width: 25px;
    height: 15px;
    border-bottom: 2px solid #ff716f;
    z-index: 50;
}

.about-company-button {
	box-sizing: border-box;
	font-family: "Cuprum", sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 18px;
	border-radius: 4px;
	color: white;
	text-decoration: none;
	padding-top: 10px;
	margin-top: 16px;
	display: inline-block;
	background-color: #ff5357;
	height:36px;
	width:220px;
	text-align: center;
}

.company-contacts {
	min-height:400px;
	float:right;
	font-size: 13px;
	margin: 0;
	margin-top: 85px;
	padding: 0;
	width:300px;
}

.company-contacts-description {
	min-height: 75px;
	font-family: "PT Sans", sans-serif;
	font-size: 13px;
	line-height: 24px;
}

.company-contacts-button {
	width: 100%;
	display: inline-block;
	margin-top:40px;
	height: 38px;
	background-color: #ff5357;
	text-align: center;
	border-radius: 5px;
	text-transform: uppercase;
	text-decoration: none;
	box-sizing: border-box;
	padding-top: 10px;
	color: white;
	letter-spacing: 0.9px;
}

.company-contacts-landmark {
	cursor: pointer;
	display: block;
}

@keyframes bounce {
  0%   {
    transform: translateY(2000px);
  }
  70%  {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}





.popup {	
	display: none;
	/*box-sizing: border-box;*/
	/*padding: 40px 80px 0 80px;*/
	box-shadow: 0 15px 50px black;
	border-top: 7px solid #ff5257;	
	min-height: 430px;
	width: 620px;
	top: 100px;
	left:50%;
	margin-left: -310px;
	background-color: white;
	z-index: 1000;
	position: fixed;
}

.modal-content-show {
	display: block;
	animation-name: bounce;
	animation-duration: 1s;
}




.popup .modal-content-close {
	border: none;
	background-color:white;
	background-image: url("../img/popup-cross.png");
	/*background-color: red;*/
	width: 21px;
	height: 21px;
	font-size: 0;
	cursor: pointer;
	position: absolute;
	z-index: 50;
	top: 12px;
	right: 12px;
}

.popup-top {
	min-height: 320px;
	position: relative;
	box-sizing: border-box;
	padding: 40px 80px 0 80px;

	background-color: white;
}

.popup form {
	background-color: white;
	min-height: 270px;
}

.popup label {
	font-size: 18px;
	box-sizing: border-box;
	display: inline-block;
	width: 217px;
	margin-right: 20px;
}

.popup label textarea {
	width: 100%;
}

.popup label:nth-child(2) {
	margin-right: 0;
}

.popup ::-webkit-input-placeholder {
	font-family: "PT Sans", sans-serif;
	font-size: 13px;
	line-height: 18px;
	color:#a9a9a9;
}

.popup input {
	box-sizing: border-box;
	padding: 10px 15px;
	height: 34px;
	width: 220px;
	border: 2px solid #dee3e4;
}

.popup-top .popup-textarea-section {
	width: 460px;
	height: 110px;
}

.popup-top .popup-textarea-section textarea {
	padding: 10px 15px;
	width: 460px;
	height: 110px;
	box-sizing: border-box;
	border: 2px solid #dee3e4;
}

.popup-bottom {
	box-sizing: border-box;
	min-height: 120px;
	margin: 0;
	padding: 38px 80px 38px 80px;
	background-color: #f4f4f4;
}

.popup .popup-bottom button {
	box-sizing: border-box;
	padding-top: 3px;
	font-family: "Cuprum", sans-serif;
	font-size: 14px;
	border-radius: 5px;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	display: inline-block;
	width: 460px;
	height: 36px;
	background-color: #ff5257;
	border: none;
}

.modal-map {
	display: none;
	z-index: 1000;
	position: fixed;
	top:100px;
	left:50%;
	/*transform: translate(-50%,0);*/
	margin-left: -470px;
    width: 970px;
    min-height: 476px;
    background: url("../img/map.png");
}

.modal-map-show {
	animation-name: bounce;
	animation-duration: 1s;
	display: block;
	background: none;
}

.modal-map-close {
  position: absolute;
  top: 52px;
  right: 42px;

  width: 22px;
  height: 22px;

  font-size: 0;
	background-image: url("../img/map-close.png");
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

/*@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

.modal-error {
  animation: shake 0.6s;
}*/

.footer-top {
	padding: 0;
	min-height: 194px;
	background-color: #32425c;
}

.main-footer-left {
	vertical-align: top;
	margin:0;
	padding: 0;
	font-size: 18px;
	display: inline-block;
	width: 355px;
	height: 150px;
	margin-right:0;
}

.footer-logo {
	display: inline-block;
	line-height: 68px;
}
.footer-logo a {
	box-sizing: border-box;
	margin:0;
	padding: 19px;
	text-transform: uppercase;
	vertical-align: middle;
	border-bottom: 5px solid #c23f42; 
	text-align: center;
	display: inline-block;
	background-color: #ff5357;
	height: 68px;
	width:220px;
	font-size: 30px;
	line-height: 30px;
	color: #ffffff;
	font-family: Cuprum;
	font-weight: regular;
	text-decoration: none;
}


/*как позиционировать без флоатов по верхней части?*/
.main-footer-right {
	float:right;
	vertical-align: top;
	font-size: 18px;
	margin-left:10px;
	padding:0;
	display: inline-block;
	width: 550px;
	height: 182px;
}



.about-perforators {
	clear: both;
	min-height: 260px;
	background-color: #f2f6f8;
}

.about-perforators h2 {
	letter-spacing: -0.5px;
    margin: 0;
    padding: 0;
    padding-top: 70px;
    font-size: 30px;
    font-family: "Cuprum";
    color: black;
    text-transform: uppercase;
}

.about-perforators p {
	letter-spacing: 0.1px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    line-height: 24px;
    padding-top: 33px;
}

/* почему footer-nav не переносится вправо внутри
футера?*/
.footer-contacts {
	line-height: 24px;
	font-size: 18px;
	display: inline-block;
	color:white;
	min-height: 50px;
	margin-top: 26px;
}

.footer-nav {
	float:right;
	width: 550px;
	min-height: 90px;
}


.footer-nav-top {
	text-align: center;
	word-spacing: 55px;
	padding: 0;
	margin-top: 40px;
	padding-bottom: 40px;
	min-height: 20px;
	margin-bottom: 0;
}

.footer-pagination-top {
	display: inline-block;
	color: #f3f7f9;
	text-decoration: none;
}

.footer-pagination-top:hover {
	text-decoration: underline;
}

.footer-pagination-top:active {
	opacity: 0.5;
}

.footer-pagination-top a:nth-child(4n) {
	margin-right: 0;
}

.footer-nav li {
	display: inline-block;
	margin-top: 0;
}

.footer-nav-bottom {
	word-spacing: 27px;
	padding: 0;
	/*margin-right: 35px;*/
	margin-top: 0;
	/*width: 550px;*/
	min-height: 75px;
}

.footer-pagination-bottom {
	margin-left: 27px;
	color: #ffda96;
	text-decoration: none;
}

.footer-pagination-bottom:hover {
	text-decoration: underline;
}

.footer-pagination-bottom:active {
	opacity: 0.5;
}

.footer-bottom {
	background-color: #293449;
	min-height:107px;
}

.footer-copyright {
	font-size: 16px;
	line-height: 18px;
	font-family: "Cuprum", sans-serif;
	padding: 0;
	color:white;
	margin-top: 38px;
	margin-right: 165px;
	float: left;
	min-height: 40px;
	width: 230px;
}

.footer-social {
	margin-top: 34px;
	margin-right: 90px;
	float: left;
	min-height: 45px;
	width: 150px;
}

.footer-social a {
	display: inline-block;
	width: 40px;
	height: 40px;
	background-color: #212a3a;
	border-radius: 50px;
}

.footer-social a:hover {
	background-color: #ee3643;
}

.footer-social a:active {
	background-color: #ee3643;
}

.footer-social-vk {
	background: 9px 15px url("../img/footer-social-vk.png") no-repeat;
}

.footer-social-facebook {
	background: 15px 10px url("../img/footer-social-facebook.png") no-repeat;
}

.footer-social-instagram {
	background: 12px 11px url("../img/footer-social-instagram.png") no-repeat;
}

.footer-email-contact {
	font-size: 16px;
	color:white;
	margin-top: 38px;
	float: left;
	min-height: 40px;
	width: 150px;
}

.footer-email-contact a {
	color: #ffda96;
	text-decoration: none;
}

.footer-email-contact a:hover {
	text-decoration: underline;
}

.footer-email-contact a:active {
	color: #8e1e26;
}


.footer-developed {
	font-size: 16px;
    color: white;
    margin-top: 38px;
    margin-left: 44px;
    float: left;
    min-height: 40px;
    width: 110px;
}

.footer-developed a {
	color: #ffda96;
	text-decoration: none;
}

.footer-developed a:hover {
	text-decoration: underline;
}

.footer-developed a:active {
	color: #8e1e26;
}


/*Поп-ап с каталога*/

.catalog-popup {	
	display: none;
	box-shadow: 0 15px 50px black;
	border-top: 7px solid #ff5257;	
	min-height: 274px;
	width: 620px;
	top: 100px;
	left:50%;
	text-align: center;
	margin-left: -310px;
	background-color: white;
	z-index: 1000;
	position: fixed;
}

.modal-catalog-content-show {
	display: block;
	animation-name: bounce;
	animation-duration: 1s;
}

.catalog-popup .modal-catalog-content-close {
	border: none;
	background-color:white;
	background-image: url("../img/popup-cross.png");
	/*background-color: red;*/
	width: 21px;
	height: 21px;
	font-size: 0;
	cursor: pointer;
	position: absolute;
	z-index: 50;
	top: 12px;
	right: 12px;
}

.catalog-popup p {
	text-indent: 60px;
	font-family: "Cuprum", sans-serif;
	font-size: 30px;
	display: block;
	margin-top: 64px;
	position: relative;
}

.catalog-popup p:before {
	content: "";
	position: absolute;
	top: -24px;
	left: 74px;
	width: 66px;
	height: 66px;
	background-image: url("../img/check-icon.png");
}

.catalog-popup-bottom {
	box-sizing: border-box;
	min-height: 110px;
	margin-top: 83px;
	padding: 38px 80px 38px 80px;
	background-color: #f4f4f4;
}

.catalog-popup-bottom button {
	box-sizing: border-box;
	padding-top: 3px;
	font-family: "Cuprum", sans-serif;
	font-size: 14px;
	border-radius: 5px;
	border: none;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	display: inline-block;
	width: 220px;
	height: 36px;
	background-color: #ff5257;
}

.catalog-popup .modal-catalog-continue-shopping {
	background-color: white;
	color:black;
}